.env
standalone/.env
.serial
standalone/.serial
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv
venv/
ENV/
.vscode/
.idea/
*.swp
*.bak
*.log